$color-primary: #175BFF;
$color-primary-light: #2381FF;
$color-primary-dark: #0B2E80;

$color-grey-light: #909090;
$color-grey: #303030;
$color-grey-dark: #101010;

$color-white: #fff;
$color-black: #000;